{% extends 'base.html' %}
{% block title %}About us{% endblock %}
{% block content %}

<div class="stuff pt-5 ">
    <div class="container">
      <div class="main-title text-center mt-5 mb-5 text-white position-relative">
        <h2>About Us</h2>
      </div>
      <p class="description text-center mb-5 text-white  m-auto">
        HR Assistant is an innovative project designed to streamline the recruitment process for companies. With this
        tool, recruiters can quickly and efficiently identify potential candidates who possess the skills and
        experience necessary to excel in a given role.
        Using advanced algorithms and natural language processing techniques, HR Assistant analyzes job descriptions
        and resumes to identify key skills, experience, and qualifications required for a specific position. The
        software then matches these requirements with the skills and experience of potential candidates, providing a
        comprehensive overview of each candidate's qualifications.
        . </p>
      <div class="row align-items-center d-flex justify-content-center bd-highlight ">
        <div class="col-lg-3 col-md-6 col-sm-8 align-items-center">
          <div class="image">
            <img class="img-fluid" src="{{url_for('static' ,filename='PhotoAboutus/tablet.png')}}" alt="" />
          </div>
        </div>
        <div class="col-lg-1 col-md-0 col-sm-0 "></div>
        <div class="col-lg-6 mb-3 text-center text-end text-md-start">
          <div>
            <div class="text-white text-center  ">
              <h4 class=" display-3 fw-5">Our Vision</h4>
            </div>
            <p class="text-white fs-5 ">
              HR Assistant offers a wide range of features to help recruiters make informed decisions, including
              customizable search filters, candidate tracking, and analytics tools. Recruiters can use this
              information
              to make informed decisions about which candidates to interview, and which ones to prioritize based on
              their qualifications.
              HR Assistant is designed to be easy to use, with an intuitive interface that allows recruiters to manage
              the recruitment process efficiently. The platform also offers automated features, such as resume parsing
              and candidate scoring, which help to streamline the recruitment process even further.
            </p>

            <p class="text-white fs-5">
              Overall, HR Assistant is an invaluable tool for any company looking to streamline their recruitment
              process and identify the best candidates for a given role. By leveraging advanced algorithms and natural
              language processing, this platform helps recruiters to save time and resources while finding the best
              possible candidates for their organization.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="chrachtstics  ">
  <div class="container text-center mt-5" style="display: inline;">
    <div style="margin-top:5% ;"></div>
    <div class="row mx-3">
      <div class="col-lg-3 col-md-3 col-sm-8">
        <i class="fa-regular fa-clock fs-1"></i>
        <p class="mb-2">Fast</p>
        <div class=""><img src="{{url_for('static' ,filename='PhotoAboutus/line.png')}}" alt=""></div>
        <p class="text-center">We pride ourselves on
          completing every job
          on time and on budget</p>
      </div>

      <div class="col-lg-3 col-md-3 col-sm-8">
        <i class="fa-solid fa-award fs-1"></i>
        <p class="mb-2">َQuality</p>
        <div class=""><img src="{{url_for('static' ,filename='PhotoAboutus/line.png')}}" alt=""></div>
        <p class="text-center">Your satisfaction is
          guaranteed for every project
          for service you can trust
        </p>
      </div>

      <div class="col-lg-3 col-md-3 col-sm-8">
        <i class="fa-regular fa-handshake fs-1"></i>
        <p class="mb-2">Accurate</p>
        <div class=""><img src="{{url_for('static' ,filename='PhotoAboutus/line.png')}}" alt=""></div>
        <p class="text-center">We enjoy the accuracy
          and efficiency in order
          to fly work on your needs
        </p>
      </div>

      <div class="col-lg-3 col-md-3 col-sm-8">
        <i class="fa-solid fa-file-shield fs-1"></i>
        <p class="mb-2">Security</p>
        <div class=""><img src="{{url_for('static' ,filename='PhotoAboutus/line.png')}}" alt=""></div>
        <p class="text-center ">We are striving to develop
          the program in order to preserve
          information and complete
          confidentiality to make it
          more secure</p>
      </div>
    </div>
  </div>
  <div style="color: black; height: 5.5vh;"> </div>
  <div
    class="container-fluid align-content-lg-center align-content-md-center align-content-sm-center cenet justify-content-center">
    <h1 class="text-center mb-5 ">Meet Our Team</h1>
    <div class="container " style="background-color: black; height: 60vh;">
      <div class="row">
        <div class="text-center col  "><img class="img-fluid" src="{{url_for('static' ,filename='PhotoAboutus/1680608092198a.jpeg')}}" width="100%"
            alt="Amir Shokry">
          <h5 class="mt-3">Amir Shokry</h5>
        </div>
        <div class="text-center col"><img class="img-fluid" src="{{url_for('static' ,filename='PhotoAboutus/1687785406225b.jpeg')}}" width="100%"
            alt="Beshoy Nader">
          <h5 class="mt-3">Beshoy Nader</h5>
        </div>
        <div class="text-center col "><img class="img-fluid" src="{{url_for('static' ,filename='PhotoAboutus/1647719073958m.jpeg')}}" width="100%"
            alt="Mark Nassef">
          <h5 class="mt-3">Mark Nassef</h5>
        </div>
        
        <div class="text-center col "><img class="img-fluid" src="{{url_for('static' ,filename='PhotoAboutus/1678982245181o.jpg')}}" width="100%"
            alt="Omar Gamal">
          <h5 class="mt-3">Omar Gamal</h5>
        </div>
      
        <div class="text-center col"><img class="img-fluid" src="{{url_for('static' ,filename='PhotoAboutus/1654254928609p.jpeg')}}" width="100%"
            alt="Peter Emil">
          <h5 class="mt-3">Peter Emil</h5></div>
        
      </div>
    </div>
  </div>
</div><!--
<div class="backgroundphotot " style="height: fit-content;">
  <h1 class="text-center pt-5 text-white ">Great Things Our Clients Say</h1>
  <div id="carouselExampleCaptions" class=" carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active"
        aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1"
        aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2"
        aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <div class="container">
          <img src="{{url_for('static' ,filename='PhotoAboutus/paper (2).png')}}" class="col-6 d-block w-100" alt="...">
          <div class="text-black "
            style="font-weight: bold ; font-size: x-large; position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);">
            Omar Gamal</div>
        </div>
      </div>

      <div class="carousel-item">
        <div class="container">
          <img src="{{url_for('static' ,filename='PhotoAboutus/paper (2).png')}}" class="col-6 d-block w-100" alt="...">
          <div class="text-black "
            style="font-weight: bold ; font-size: x-large; position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);">
            Omar Gamal</div>
        </div>
      </div>

      <div class="carousel-item">
        <div class="container">
          <img src="{{url_for('static' ,filename='PhotoAboutus/paper (2).png')}}" class="col-6 d-block w-100" alt="...">
          <div class="text-black "
            style="font-weight: bold ; font-size: x-large; position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);">
            Omar Gamal</div>
        </div>

      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions"
      data-bs-slide="prev">
      <span class="carousel-control-prev-icon bg-black" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions"
      data-bs-slide="next">
      <span class="carousel-control-next-icon bg-black" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div> -->
</div>
</div>

{% endblock %}