{% extends 'base.html' %}
{% block title %}Add Job{% endblock %}
{% block content %}
<br><br>
<br><br>
<form method="post">
<div class="container col-lg-9  bg-light bg-opacity-10 rounded-5 align-items-center  ">

    <br><br>
    <h4 class="mx-5 mb-3 text-white ">Fill your data to add a job :</h4>
    <br>

    <div class="row g-3 d-flex justify-content-center">
        <div class="col-lg-5 mt-3">
            <label for="jobName" class="mx-3 fs-5 text-white">Job Tiitle</label>
            <input type="text" class="form-control bg-transparent text-white" id="jobName" name="jobName"
                style="border-color: #6354FB; border-width: 2px; " placeholder="Enter Job Name...">
        </div>
    </div>
    <div class="row g-3 d-flex justify-content-center">
        <div class="col-lg-5 mt-3">
            <label for="Address" class="mx-3 fs-5 text-white">Image link</label>
            <input type="text" class="form-control bg-transparent text-white" id="imageSource" name="imageSource"
                style="border-color: #6354FB; border-width: 2px; " placeholder="Enter Image Source...">
        </div>
    </div>
      
    <div class="row g-3 d-flex justify-content-center">
        <div class="col-lg-5 mt-3 ">
            <label for="jobDescription" class="mx-3 fs-5 text-white">Job Description</label>
            <textarea type="txet" class="form-control bg-transparent text-white" id="jobDescription" name="jobDescription"
                style=" border-color: #6354FB; border-width:2px;"  placeholder="Enter Job Description..."></textarea>
        </div>
    </div>
  
    <br><br>
      <div class="align-items-center d-flex justify-content-center">
        <button type="submit" class="align-items-center   btn btn-outline-primary">Add opportunity</button>
    </div>
      <br>
</div>
</form>
<br><br>
<br><br>
{% endblock %}