{% extends 'base.html' %}
{% block title %}Admin|Users{% endblock %}
{% block content %}
<link rel="stylesheet" href="{{url_for('static', filename='css/table.css')}}">
<table class="container mx-auto col-lg-8 col-md-6 col-sm-6 content-table table-striped">
    <thead>
        <tr>
            <th scope="col" class="table-active">
                <h6 class="display-6 fs-4">#</h6>
            </th>
            <th scope="col">Name</th>
            <th scope="col">Role</th>
            <th scope="col">Promote</th>
            <th scope="col">Deomote</th>
            <th scope="col">Remove</th>
        </tr>
    </thead>
    <tbody>
        {% for user in users: %}
        <tr>
            <td>{{loop.index}}</td>
            <td>{{user[1]}}</td>
            <td>{{user[2]}}</td>
            <td>
                <a href="/admin-promote-users/{{user[0]}}" class="mx-3 btn btn-primary">Promote</a>
            </td>
            <td>
                <a href="/admin-demote-users/{{user[0]}}" class="mx-3 btn btn-primary">Demote</a>
            </td>
            <td>
                <a href="/admin-remove-users/{{user[0]}}" class="mx-3 btn btn-primary">Remove</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}