<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="..\static\css\bootstrap.min.css" rel="stylesheet">
    <script src="..\static\js\bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="{{url_for('static', filename='css/base.css')}}">
    <link rel="icon" type="image/png" href="/static/favicon.ico"/>
    <title>{% block title %}{% endblock %}</title>
</head>

<body class="backgroundphoto">
    <div>
        <nav class="navbar navbar-expand-lg  ">
            <div class="container">
                <a class="navbar-brand" style="display: inline;" href="/">
                    <img src="{{url_for('static' ,filename='Photo/logo.png')}}" alt="" />
                    <span class="hr" style=color:white;>HR Assistant</span>
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#main"
                    aria-controls="main" aria-expanded="false" aria-label="Toggle navigation">
                    <i class="fa-solid fa-bars"></i>
                </button>
                <div class="collapse navbar-collapse col-lg-8 align-items-center" id="main">
                    {% if 'ID' not in session: %}
                    <ul class="navbar-nav mx-auto mb-2 mb-lg-0">
                    {% else: %}
                    <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                    {% endif %}
                        <li class="nav-item">
                            <a class="nav-link " aria-current="page" href="/">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{url_for('dispalyAlljobs')}}">Browse Jobs</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{url_for('aboutus')}}">About</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{url_for('contactus')}}">Contact Us</a>
                        </li>
                       
                        {% if 'Admin' in session: %}
                        <li class="nav-item">
                            <a class="nav-link" href="{{url_for('adminPage')}}">Admin</a>
                        </li>
                        {% endif %}
                        {% if 'ID' in session: %} <!--Signed In-->
                        <div class="search ps-3 pe-3 d-none d-lg-block">
                        </div>
                        {% endif %}
                    </ul>
                    {% if 'ID' in session: %} <!--Signed In-->
                    <a class="btn btn-primary rounded-pill text-decoration-none" href="{{url_for('logout')}}">Logout</a>
                    {% endif %}
                </div>
                {% if 'ID' not in session: %}
                <div class="collapse navbar-collapse" id="main">
                    <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-button2 btn btn-primary rounded-pill mx-3 mb-3 text-decoration-none"
                                    href="{{url_for('signin')}}">Log in</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-button2 btn btn-outline-primary rounded-pill text-decoration-none" 
                                href="{{url_for('signUp')}}">Get Started</a>
                        </li>
                    </ul>
                </div>
                {% endif %}
            </div>
        </nav>
    </div>

    <div class="col-11 mx-auto mb-3">
        {% block content %}
        {% endblock %}
    </div>

    <div class="footer pt-5 pb-5 text-white-50 text-center text-md-start ">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-lg-4">
                    <div class="info mb-5">
                        <a class="navbar-brand" style="display: inline;" href=" #">
                            <img src="{{url_for('static',filename='Photo/Logobig.png')}}" alt="" class="mb-4" />
                            <span class=" hr" style="color:white; font-size: large;"> HR Assistant</span>
                        </a>
                        <p class=" mb-5">
                            HR Assistant is an invaluable tool for any company looking to streamline their recruitment
                            process and identify the best candidates
                        <div class="copyright">
                            Created By <span>BoMap</span>
                            <div>&copy; 2023 - <span>HR Assistant</span></div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-2">
                    <div class="links">
                        <h5 class="text-light">Links</h5>
                        <ul class="list-unstyled lh-lg">
                            <li><a class="navbar-brand" href="/">Home</a></li>
                            <li><a class="navbar-brand" href="{{url_for('contactus')}}">Contact US</a></li>
                            <li><a class="navbar-brand" href="{{url_for('aboutus')}}">About Us</a></li>
                            <li><a class="navbar-brand" href="{{url_for('contactus')}}">Ask for Help</a></li>
                            <li><a class="navbar-brand" href="{{url_for('termsAndCondition')}}">Terms and Condition</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-6 col-lg-2">
                    <div class="links">
                        <h5 class="text-light">Authentication</h5>
                        <ul class="list-unstyled lh-lg">
                            <li><a class="navbar-brand" href="{{url_for('signin')}}">Sign In</a></li>
                            <li><a class="navbar-brand" href="{{url_for('signUp')}}">Register</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4">
                    <div class="contact">
                        <h5 class="text-light">Contact Us</h5>
                        <p class="lh-lg mt-3 mb-5">Get in touch with us via mail phone.We are waiting for your call or
                            message</p>
                        <a class="btn btn-primary rounded-pill main-btn text-white w-75 h-auto"
                            href="mailto:hrassistant97@gmail.com">hrassistant97@gmail.com</a>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>
