{% extends 'base.html' %}
{% block title %}About us{% endblock %}
{% block content %}
<br><br><br><br><br><br>
<div class="container align-content-center ">
    <div class="row justify-content-center">
      <div class="col-md-4 text-center mx-4">

        <a type="button" style="background-color: #7620FF;" class=" btn btn-primary rounded-4  my-3 " href="#">HR Recruiter</a>
       
        <a type="button" class=" btn btn-outline-primary  rounded-4" href="https://bootstrap-cheatsheet.themeselection.com/#accordion">Participants</a>

      </div>
    </div>
  </div>  
  <br><br><br><br><br><br><br><br>

{% endblock %}