{% extends 'base.html' %}
{% block title %}contact us{% endblock %}
{% block content %}

<div class="stuff pt-5 ">
    <div class="container">
      <div class="main-title text-center mt-5 mb-5 text-white position-relative">
        <h2>Contact Us</h2>
      </div>
      <p class="description text-center mb-5 text-white  m-auto  col-8 fs-5 ">
     We would love to hear from you! If you have any questions, comments, or concerns,
     please do not hesitate to reach out to us using the contact form below.
     Our team is committed to providing excellent customer service and will respond to your inquiry as soon as possible. 
     Alternatively, you can contact us by phone or email, which you can find on our website's "Contact Us" page.
     We appreciate your interest in our company and look forward to hearing from you soon
        . </p>
     
      </div>
    </div>
  </div>
</div>
<div class="container col-lg-9  bg-light bg-opacity-10 rounded-5 align-items-center text-center ">
    <div class="main-title text-center mb-5 text-white position-relative">
        <h2>Our Contact information</h2>
    </div>
    <a class="text-white mb-3 fs-4 text-decoration-none" href="mailto:hrassistant97@gmail.com"><i class="fa-solid fa-envelope"></i> hrassistant97@gmail.com</a>
</div>  
  
</div>
<div class=" text-center mb-5 text-white ">
    <h2>FAQs</h2>
</div>
  
<style>
    .accordion-button:focus {
    box-shadow: none;
    border-color: rgba(0,0,0,.125);
}
.accordion .item .accordion-header button{
    background-color: transparent;
    box-shadow: none;
}

.accordion .item{
    border: 0;
}
</style>

<div class="accordion accordion-flush mx-auto col-10 bg-transparent" id="accordionFlushExample"  >
  {% for question in questions %}
    <div class="accordion-item bg-transparent">
      <h2 class="accordion-header">
        
    <a class="btn btn-primary rounded-pill main-btn text-white col-12 "> 
        <button class="accordion-button collapsed bg-transparent text-white" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne{{question[0]}}" aria-expanded="false" aria-controls="flush-collapseOne">
          {{question[1]}}
        </button>
        </a>
        
      </h2>
      <div id="flush-collapseOne{{question[0]}}" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
        <div class="accordion-body text-white">{{question[2]}}</div>
      </div>
    </div>
    <br>
    {% endfor %}
  </div> 
  
  {% endblock %}