{% extends 'base.html' %}
{% block title %}Login{% endblock %}

{% block content %}
<div class="row row-cols-1 row-cols-md-3 g-4" style="width: 90%; padding-left: 12%;padding-top: 3%;">
    <div class="col-sm-6 "width="26" height="238">
        <div class="card">
            
            <img src="static/Photo/MicrosoftTeams-image ().png" width="30" height="238" class="card-img-top" alt="..." >
        
          <div class="card-body" style="padding-left: 22%;">
    
            <a href="#" class="btn btn-primary" >Add job opportunity</a>
          </div>
        </div>
    </div>
    {% for data in Data %}
    <div class="col" width="26" height="238">
      <div class="card">
        <img src="static/Photo/15-155347_transparent-mobile-app-development-png-creative-android-app.png"  class="card-img-top" alt="..." style="size:20% ;">
        <div class="card-body" style="background-color: #00004d; opacity: 0.7; color: white;">
          <h5 class="card-title" s>{{data[0]}}</h5>
          <p class="card-text">{{data[1]}}</p>
        </div>
      </div>
    </div>
    {% endfor %}
</div>
<div class="text-center" style="padding-top: 5%; padding-bottom: 2%;">
<h2 style="color: white;">Contact Us</h2>
</div>
<div class="container" >
    <div class="row">
      <div class="col-sm-6">
        <p style="color: white;">"Contact Us" is an essential component of any business or organization's website. It serves as a way for customers, clients, or visitors to reach out to the business for any inquiries, feedback, or support related issues. The "Contact Us" page typically contains information such as the business's physical address, phone number, email address, and sometimes a contact form.

            The main goal of the "Contact Us" page is to make it as easy as possible for visitors to get in touch with the business. Providing multiple options for communication can also help ensure that visitors can choose the most convenient method for their needs.
            
            In addition to basic contact information, it's also a good idea to include any relevant information about the business's hours of operation, expected response times, and any frequently asked questions. This can help reduce the number of inquiries that the business receives and can also improve the visitor's experience by providing them with answers to common questions.
            
            Overall, having a well-designed and informative "Contact Us" page can help businesses build trust with their customers, improve customer satisfaction, and ultimately lead to increased sales and revenue.</p>
      </div>
      <div class="col-sm-6 row-cols-1 ">
        <img src="static/Photo/MicrosoftTeams-imag.png" width="430" height="350" alt="Image" style="padding-left: 20%; padding-top: 5%;">
        <div style="width: 50; padding-left: 42%; padding-top: 5%;">
        <a href="#" class="btn btn-primary rounded-pill main-btn text-white w-75 h-auto" > Contact Us</a>
        </div>    
    </div>
    </div>
  </div>
  <div class="text-center" style="padding-top: 5%; padding-bottom: 2%;">
    <h2 style="color: white;">About Us</h2>
    </div>
  <div class="container" style="padding-bottom: 3%;">
    <div class="row">
      <div class="col-sm-6">
        <p style="color: white;">"Contact Us" is an essential component of any business or organization's website. It serves as a way for customers, clients, or visitors to reach out to the business for any inquiries, feedback, or support related issues. The "Contact Us" page typically contains information such as the business's physical address, phone number, email address, and sometimes a contact form.

            The main goal of the "Contact Us" page is to make it as easy as possible for visitors to get in touch with the business. Providing multiple options for communication can also help ensure that visitors can choose the most convenient method for their needs.
            
            In addition to basic contact information, it's also a good idea to include any relevant information about the business's hours of operation, expected response times, and any frequently asked questions. This can help reduce the number of inquiries that the business receives and can also improve the visitor's experience by providing them with answers to common questions.
            
       </div>
      <div class="col-sm-6 row-cols-1 ">
        <div style="width: 50; padding-left: 42%; padding-top: 20%;">
        <a href="#" class="btn btn-primary rounded-pill main-btn text-white w-75 h-auto" >Read more</a>
        </div>    
    </div>
    </div>
  </div>
{% endblock %}