{% extends 'base.html' %}
{% block title %}View Job Opportunity{% endblock %}
{% block content %}

<link rel="stylesheet" href="{{url_for('static', filename='css/table.css')}}">
<br><br>

<div class="container col-lg-9  bg-light bg-opacity-10 rounded-5 align-items-center  ">

    <br><br>
    <div class="container">
        <a class="btn btn-danger float-end text-decoration-none"
            href="{{url_for('removeOppurtunity',ID=details[2])}}"><i class="fa-solid fa-trash"></i></a>
    </div>

    <h4 class="mx-3 mb-3 text-white ">{{details[0]}}</h4>
    <br>
    <div>
        <h6 class="mx-5 mb-4 text-white"> <i class="mx-2 fa-solid fa-house text-white mx-2"></i>{{details[3]}}</h6>
    </div>
    <div class="col-10 mx-5  text-white">
        <h5 class=" mt-3"> Form URL:</h5>
        <p>
            <a href="{{url_for('applyForJob',job_id=details[2])}}">http://127.0.0.1:5000/apply/{{details[2]}}</a>
        </p>
    </div>
    <div class="col-10 mx-5  text-white">
        <h5 class=" mt-3"> Job Description:</h5>
        <p>
            {{details[1]}}
        </p>
    </div>
    <br><br>
    <div class="align-items-center d-flex justify-content-center">
        <a href="/" class="align-items-center btn btn-outline-primary">Back</a>
        {% if active > 0 %}
        <a href="{{url_for('process',jobid=details[2])}}" class="mx-3 btn btn-primary">Process <i
                class="fa-solid fa-gear"></i></a>
        {% else %}
        <a href="" class="mx-3 btn btn-primary disabled">Process <i
            class="fa-solid fa-gear"></i></a>
        {% endif %}
    </div>
    <br>
    <style>
        :root {
            --bs-body-bg: #fff0
        }
    </style>
    <form method="post">
      <div class="form-floating mb-3 col-8 mx-auto text-center">
        <input type="number" class="form-control bg-transparent text-white" id="experience" name="experience" placeholder="experience"
          style="border-color: #6354FB; border-width: 3px;" min="0" required>
        <label for="experience" class="text-white">Experience based on specific opportunity</label>
        <button type="submit" class="btn btn-primary my-3">Submit</button>
      </div>
    </form>
</div>
{% if applicants|length > 0 %}
<table class="container mx-auto col-lg-8 col-md-6 col-sm-6 content-table table-striped">
    <thead>
        <tr>
            <th scope="col" class="table-active">
                <h6 class="display-6 fs-4">#</h6>
            </th>
            <th scope="col">File Name</th>
            <th scope="col">Experience</th>
            <th scope="col">View Resume</th>
            <!-- <th scope="col">Similarity</th> -->
        </tr>
    </thead>
    <tbody>
        {% for row in applicants: %}
        <tr>
            <td>{{loop.index}}</td>
            <td>{{row[0]}}</td>
            <td>{{row[2]}}</td>
            <td><a href="/file/{{row[4]}}" class="text-decoration-none">View Resume</a></td>
            <!-- <td>{{row[1]}}</td> -->
            <!-- <td>
        <h6 class="display-6 fs-5">{{row[1]}}</h6>
        </td> -->
        </tr>
        {% endfor %}
    </tbody>
</table>
{%endif%}
{% endblock %}