{% extends 'base.html' %}
{% block title %}Sign Up{% endblock %}
{% block content %}
<div class="container">
  <div class="row col-10 mx-auto">
  <div class="col-lg-6 col-sm-12 col-md-12 p-0">
    <img src="../static/Photo/SignUpPic.png" class="img-fluid">
  </div>
  <div class="bg-light bg-opacity-10 rounded-end-5 col-lg-6 col-sm-12 col-md-12">
    <div class="my-xxl-5">
    <div class="py-3 ms-3 text-center">
      <h2 class="display-3 fs-1 text-white ">Welcome</h2>
      <h2 class="display-4 fs-4 text-white">Login</h2>
    </div>
    <form method="post">
      <div>
        <div class="form-floating mb-4 mx-3">
          <input type="email" class="form-control bg-transparent text-white" id="email" name="email" style="border-color: #7620FF; border-width: 3px;"
          placeholder="name@example.com">
          <label for="email" class="text-white">Email Address</label>
        </div>
        <div class="form-floating mb-4 mx-3">
          <input type="password" class="form-control bg-transparent text-white" id="password" name="password" style="border-color: #7620FF; border-width: 3px;"
          placeholder="password">
          <label for="password" class="text-white">Password</label>
        </div>
          <div class="text-center mb-4">
            <button type="submit" class="btn btn-primary rounded-3" style="background-color: #7620FF">Sign In</button>
          </div>
          <div class="text-center text-white mb-4">
            <p>Don't have an account? <a class="text-decoration-none" href="{{url_for('signUp')}}">Sign Up</a></p>
          </div>
        </div>
      </form>
    </div>
    </div>
  </div>
</div>
{% endblock %}