{% extends 'base.html' %}
{% block title %}Terms And Conditions{% endblock %}
{% block content %}
<div class="stuff pt-5 ">
    <div class="container">
      <div class="main-title text-center mt-5 mb-5 text-white position-relative">
        <h2>Terms And Conditions</h2>
      </div>
      <p class="description text-center mb-5 text-white  m-auto  col-8 fs-5 ">
        Acceptance of Terms: Users must agree to the terms and conditions before accessing or using the website's HR management services.
        . </p>
     <p class="description text-center mb-5 text-white  m-auto  col-8 fs-5 ">
        Users are responsible for providing accurate and up-to-date information, maintaining the confidentiality of their account credentials, and complying with all applicable laws and regulations
         </p>
     <p class="description text-center mb-5 text-white  m-auto  col-8 fs-5 ">
        The website provides HR management services, such as employee data management, payroll processing, leave management, performance evaluations, etc. The specific features and functionalities of the services should be clearly defined.
        . </p>
        <p class="description text-center mb-5 text-white  m-auto  col-8 fs-5 ">
            Privacy Policy: The website collects and processes personal information in accordance with its privacy policy. Users should be directed to review the privacy policy for details on data collection, storage, sharing, and security practices.
            . </p>
            <p class="description text-center mb-5 text-white  m-auto  col-8 fs-5 ">
                Intellectual Property: All content, including text, images, logos, and trademarks, displayed on the website is protected by intellectual property laws and may not be used without the owner's consent.
                . </p>
                <p class="description text-center mb-5 text-white  m-auto  col-8 fs-5 ">
                    User Content: Users may be allowed to submit content to the website, such as job postings or employee information. By submitting content, users grant the website a non-exclusive license to use, modify, and distribute the content for the purpose of providing the HR services.
                    . </p>
                    <p class="description text-center mb-5 text-white  m-auto  col-8 fs-5 ">
                        Modifications: The website reserves the right to modify or update the terms and conditions at any time, and users should periodically review them for any changes.
                        . </p>
     
      </div>
    </div>
  </div>
</div>
{% endblock %}