{% extends 'base.html' %}
{% block title %}Terms And Conditions{% endblock %}
{% block content %}
<div class="stuff pt-5 ">
    <div class="container">
      <div class="main-title text-center mt-5 mb-5 text-white position-relative">
        <h2>Terms And Conditions</h2>
      </div>
      <p class="description mb-5 text-white  m-auto  col-8 fs-5 ">
        These Terms and Conditions ("Agreement") govern the use of the HR Assistant web application ("Application"). By accessing or using the Application, you agree to be bound by this Agreement.</p>
        <p class="description text-white  m-auto  col-8 fs-5 ">1. Use of the Application:</p>
        <p class="description text-white  m-auto  col-8 fs-6 ps-3 ">
          1.1 The Application is intended for use by HR recruiters and applicants for job opportunities.
         </p>
        <p class="description text-white  m-auto  col-8 fs-6 ps-3">
          1.2 Users are solely responsible for the accuracy and completeness of the information provided through the Application.
         </p>
        <p class="description mb-5 text-white  m-auto  col-8 fs-6 ps-3">
          1.3 Users must not use the Application for any unlawful or unauthorized purposes.
         </p>
        <p class="description text-white  m-auto  col-8 fs-5 ">
          2. Data Privacy:
         </p>
        <p class="description text-white  m-auto  ps-3 col-8 fs-6 ">
          2.1 The Application collects and stores personal information provided by users. The privacy of user data is important to us, and we follow strict data protection practices.
         </p>
        <p class="description mb-5 text-white  m-auto ps-3 col-8 fs-6 ">
          2.2 User data will be used in accordance with our Privacy Policy, which outlines how we collect, store, and process personal information.
         </p>
        <p class="description text-white  m-auto  col-8 fs-5 ">
          3. Intellectual Property
         </p>
        <p class="description text-white  m-auto ps-3 col-8 fs-6 ">
          3.1 All intellectual property rights, including copyrights and trademarks, in the Application belong to the owner of the Application.
         </p>
        <p class="description mb-5 text-white ps-3 m-auto  col-8 fs-6 ">
          3.2 Users may not modify, reproduce, distribute, or create derivative works of the Application without prior written permission.
         </p>
     
      </div>
    </div>
  </div>
</div>
{% endblock %}